.switching-icons-enter-active,
.switching-icons-leave-active
    transition: opacity 1ms ease-in-out
    background: var(--black)
    color: var(--white)


.switching-icons-enter-from,
.switching-icons-leave-to
    background: var(--black)
    color: var(--white)
    opacity: 0

