@media (max-width: 1200px) {
  .under-header__list {
    gap: 15px;
    & span {
      font-size: 14px;
    }
  }
  .home-header-title {
    font-size: 33px;
    &::before {
      right: 44%;
    }
  }
  .portfolio {
    &::after {
      right: -15%;
      z-index: -1;
    }
  }
}
@media (max-width: 968px) {
  .home-header-title {
    font-size: 27px;
    &::before {
      right: 49%;
    }
  }
  .under-header__lists {
    padding: 20px 30px 20px 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-me__text {
    &-header {
      font-size: 27px;
      max-width: 450px;
    }
    &-body {
      max-width: 450px;
    }
  }
  .home-header .header-list:nth-child(3) a::before {
    left: -22%;
  }
  .home-header .header-lists {
    & a::before {
      left: -15%;
    }
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .header-content {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-header-title {
    text-align: center;
    &::before {
      right: 41%;
    }
  }
  .about-me-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .home-header .header-content > img {
    width: 55%;
  }
  .desctop-nav {
    & .navbar {
      &__lists {
        display: none;
      }
      &__btns {
        display: none;
      }
    }
    .burger-menu {
      display: block;
      font-size: 30px;
      color: var(--black);
    }
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-trans-enter-active,
    &-trans-leave-active {
      transition: all 0.3s ease;
      left: 0;
    }
    &-trans-enter-from,
    &-trans-leave-to {
        left: -100%;
    }
  }
  .portfolio__card .card__link {
    padding: 15px;
    font-size: 18px;
  }
}
